#nav{
    max-width: 1755px;
    background: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 123px;
}

#nav ul{
    display: flex;
    margin: 0 auto;
    text-align: center;
    vertical-align: baseline;
    justify-content: space-evenly;
    list-style: none;
    font-family: corbel;
    font-weight: 700;
    font-size: 16px;
    margin-top: 45px;
    outline: none;
}

#nav li{
    line-height: 37px;
    height: 36px;
}

.h{
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #fff;
}

.h:hover {
    border-bottom: 1px solid #fff;
}

a{color:#fff;text-decoration: none;}

#watchNum{
    background-repeat: no-repeat;
    position: absolute;
    top: 35px;
    padding: 2px 8px 15px 7px;
    background-position: center;
    padding-bottom: 4px;
    font-size: 10px;
    background-image: url('../Header/bullet.svg');
}

.group{
    display: flex;
    min-width: 185px;
    justify-content: space-between;
}
