#blurAdminPage{
    min-width: 100%;
    min-height: 100%;
    background-color: #000000a8;
    z-index: 999;
    min-width: 100%;
    min-height: 348%;
    z-index: 999;
    margin-top: -119px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mainDialogAddMovie{
    background: white;
    max-width: 944px;
    min-width: 600px;
    min-height: 1276px;
    
    box-shadow: 0px 4px 100px rgba(163, 163, 163, 0.1);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 266px;
    width: 90%;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 200px;
}

#mainDialogAddMovie svg{
    cursor: pointer;
}

#mainDialogAddMovie #AddMovie{
    font-family: CamptonLight;
    color: black;
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    height: 60px;
    margin: 0 auto;
    font-weight: 900;
}
#deleteButton{
    border:none !important;
}

#deleteButton:hover{
    background:#f1205e !important;
}
#cancelButton:hover{
    cursor: pointer;
}
#delete{
    font-family: Campton;
    color: black;
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    height: 184px;
    margin: 0 auto;
}

#mainDialogAddMovie #titleURL{
    color: #010103;
    width: 268px;
}

#mainDialogAddMovie #trailerURL,
#mainDialogAddMovie #movieTitle,
#mainDialogAddMovie #originalSourceInput,
#mainDialogAddMovie #coverURLinput,
#mainDialogAddMovie #descriptionInput,
#mainDialogAddMovie #imdbScoreInput,
#mainDialogAddMovie #releaseDateLinput
{
    background: white;
    border: 1px solid #9C9B9B;
    height: 48px;
    width: 256px;
    margin: 0 auto;
    outline: none;
    color: black;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

#mainDialogAddMovie input[type=text] :focus, #mainDialogAddMovie input[type=text]:focus-visible{
    background: white !important;
}

#mainDialogAddMovie #originalSourceInput,
#mainDialogAddMovie #coverURLinput,
#mainDialogAddMovie #releaseDateLinput{
    width: 550px;
}

#mainDialogAddMovie #descriptionInput{
    width: 546px;
    height: 159px;
    resize: none;
    padding: 7px;
}

#mainDialogAddMovie #dialogContent{
    margin-top: 166px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

#mainDialogAddMovie label{
    font-family: CamptonLight;
    font-size: 18px;
    color: #010103;
    opacity: 0.7;
    font-weight: 900;
    line-height: 43px;
}

#dialogContent form div{
    /* border:1px solid red; */
    margin-bottom: 12px !important;
}

#mainDialogAddMovie #Display{
    display: flex;
    width: 560px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
}

.ierr{
    border: 1px solid #ff7171 !important;
}

#mainDialogAddMovie #trailerURLdiv{
    color: #010103;
    width: 268px;
}

#mainDialogAddMovie #originalSourceDiv{
    margin: 0 auto;
    width: 560px;
}

#mainDialogAddMovie #coverURLdiv{
    margin: 0 auto;
    width: 560px;
}

#mainDialogAddMovie #descriptionDiv{
    margin: 0 auto;
    width: 560px;
}

#mainDialogAddMovie #category{
    color: #010103;
    width: 268px;
    padding-top: 20px;
}

#mainDialogAddMovie #categoryInput{
    background: white;
    border: 1px solid #010103;
    height: 48px;
    width: 276px;
    margin: 0 auto;
    color: black;
    border-radius: 4px;
    font-family: campton;
    outline: none;
    padding-left: 10px;
}

#mainDialogAddMovie #imdbScoreDiv{
    color: #010103;
    width: 268px;
    padding-top: 20px;
}

#mainDialogAddMovie #releaseDateDiv{
    margin: 0 auto;
    width: 560px;
}

.addMovieButton{
    width: 560px;
    height: 48px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    background: #F5044C;
    border:none;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}

.addMovieButton:hover{
    background:#ec1858;
}

#mainDialogAddMovie #addMovieButton{
    margin: 0 auto;
    width: 560px;
    padding-top: 50px;
}

#mainDialogAddMovie #cancelButton{
    color: #010103;
    font-family: Campton;
    text-align: center;
}

#dialogContent svg, #mainDialogAddMovieDelete svg{
    font-size: 16px !important;
    font-weight: bold;
    width: 16px !important;
    color: black;
    margin-left: 125px;
    cursor: pointer;
}

#mainDialogAddMovie #dropDown{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#list{
    background:none;
    /* padding: 0 10px 0 10px; */
}

#dialogContent button{
    width: 158px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    background: #f5044c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    font-family: unset;
    font-family: Campton;
    border-radius: 4px;


    outline: none;
    background: white;
    border: 1px solid #010103;
    height: 48px;
    width: 276px;
    margin: 0 auto;
}

/* button:hover{
    background: #C7044C;
} */

#dialogContent ul{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 276px;
    margin-top: 10px;
    color: #000;
    background: #FFF;
    border: 1px solid #010103;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    font-family: Campton;
}

#dialogContent li{
    text-align: left;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#dialogContent li:hover{
    color: #FFF;
    background: #000;
}
#dp button{
    pointer-events: none;
    width:10px !important;;
    height: 10px !important;;
    color:#fff !important;
}
#dp input{
    width: 158px;
    height: 40px;    opacity: 0;
    margin: -28px 0px 0px -159px;
    cursor: pointer;
    outline: none;
    color: black;
    border-radius: 4px;
    border-radius: 4px;
}

#dp .react-datepicker{
    margin-left:-200px;
}


#dialogContent #date{
    background:none !important;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    border: 1px solid #f5044c !important;
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    font-family: unset;
    color: #F5044C !important;
    outline: none;
}

.react-datepicker__month{
    background: #F5044C;
    border-radius: 8px;
}

.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
     background-color:transparent !important;
    color: #000;
    border: none !important;
    border-radius: 0.3rem;
    display: block !important;
    position: relative;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #ffffff !important;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 12px 10px 12px 10px;
    font-weight: bold;
}

.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover {
    background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #ffffff !important;
    color: #F5044C !important;
    border-radius: 50%;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover {
    background-color: #ffffff !important;
    border-radius: 50% !important;
}
.react-datepicker__day--selected{
    background-color: #ffffff !important;
    border-radius: 50% !important;
    color: #F5044C !important;
}
.react-datepicker__day:hover, .react-datepicker__month-text:hover {
    border-radius: 50% !important; 
    background-color: #ffffff;
    color: #F5044C !important;
}

.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover {
    background-color: #ffffff;
    border-radius: 50% !important;
    color: #F5044C !important;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover {
    border-radius: 0.3rem;
    background-color: #ffffff;
    border-radius: 50% !important;
    color: #F5044C !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #ffffff;
    color: #F5044C !important;
    border-radius: 50% !important;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover {
    background-color: #ffffff !important;
    border-radius: 50% !important;
}

.react-datepicker__month-container{
    background: #F5044C;
    border-radius: 8px
}
.react-datepicker__header {
    text-align: center;
    background-color: #f0f0f0;
    background:transparent !important;
    border: 0 !important;
    margin-bottom: -21px;
}
.react-datepicker button{
    padding:0;
    background:none !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    margin-top: 22px;
    color: #fff;
    font-weight: bold;
    font-size: 0.944rem;
    font-size: 21px;
}

.react-datepicker__triangle{
    display:none !important;
}

.react-datepicker__current-month{
    color:#fff !important;
    font-size: 20px !important
}

#closeButtonDiv{
    text-align: right;
    max-width: 1000px;
    min-width: 600px;
    padding: 33px;
}

#mainDialogAddMovie #closeButton
{
    color: black;
    width: 20px;
    text-align: right;
    height: 16px;
    width: 16px;
}

#reqred{
    font-family: corbel;
    color:red;
}
#mainDialogAddMovieDelete{
    background: white;
    max-width: 752px;
    /* min-width: 600px; */
    min-width: 430px;
    min-height: 338px;
    height: 420px;
    box-shadow: 0px 4px 100px rgba(163, 163, 163, 0.1);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 87px;
    width: 90%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#mainDialogAddMovieDelete #AddMovie{
    font-family: CamptonLight;
    color: black;
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    height: 60px;
    margin: 0 auto;
    font-weight: 900;
}

#mainDialogAddMovieDelete #buttonsDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 400px;
}

#mainDialogAddMovieDelete #cancelButton{
    background: white;
    border: 1px solid #010103;
    border-radius: 8px;
    width: 176px;
    height: 48px;
    color: black;
    font-family: Campton;
}

#mainDialogAddMovieDelete #cancelButton{
    background: white;
    border: 1px solid #010103;
    border-radius: 8px;
    width: 176px;
    height: 48px;
    color: black;
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
}

#mainDialogAddMovieDelete #deleteButton{
    width: 176px;
    height: 48px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    background: #F5044C;
    border-color: #F5044C;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    border: 1px solid #010103;
    border-radius: 8px;
    margin: 0 auto;
}

