#hero{
  background-image: url(./image4.1.png);
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0 auto;
  background-color: black;
  background-position: center;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#moon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon{
  font-family: corbel;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

.p{
  font-family: corbel;
  font-size: 18px;
  line-height: 25px;
  max-width: 464px;
  padding-right: 84px;
  width: 464px;
  height: 100px;
  color: #FFFFFF;
  opacity: 0.6;
}

.img2{

  width: 392px;
  height: 552px;
  left: 800px;
  top: 232px;
  

  border-radius: 20px;
}

#left button{
  height: 48px;
  width: 176px;
  border-radius: 8px;
  font-size: 18px;
  border-style: none;
  color: #FFFFFF;
  margin-right: 21px;
  font-family: corbel;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

#moon list{
  background: #1E1E1E !important;
}

#left span{
  font-size: 26px;
  position: absolute;
  vertical-align: baseline;
  margin: -2px 0 0 -26px;
  font-weight: 100;
  font-family: sans-serif;
}

