.timelinePic {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.timelineTitle {
  font-size: 18px;
  line-height: 40px;
  font-family: "Montserrat";
  text-align: left;
  color: #ffffff;
}

.timelineCategory {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.timelineDescription {
  min-height: 80px;
  height: auto;
  max-height: 100px;
  margin: auto 0;
}

.vertical-timeline::before {
  width: 1px !important;
  background-color: #f5044c !important;
}

.scorRow {
  display: flex;
}

.titRow {
  display: flex;
}

.timelineScore {
  color: white;
}
