.admin-content {
  background-color: #e5e5e5;
}

.adminContainer {
  padding-top: 130px;
  padding-bottom: 130px;
}

.searchX::placeholder {
  font-family: Montserrat !important;
  color: #9c9b9b !important;
  font-size: 12px !important;
  padding-left: 20px !important;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 20px;
  padding-left: 4px \9;
  background: #e5e5e5;
  color: black;
  border-radius: 5px;
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
  height: 40px;
  border: 1px solid #9c9b9b;
  font-family: Montserrat;
}

#customSearchInput button {
  border: 0;
  background: none;
  padding: 5px 1px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: transparent;
}
.addNew {
  background: #f5044c;
  border-radius: 8px;
  width: 150px;
  border: none;
  height: 40px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  bottom: 0;
  float: right;
}

.customInput {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.searchBox {
  width: 360px !important;
}

.all-moovies {
  margin-top: 50px;
}

.modal-content {
  height: 950px !important;
}
.form-control:focus {
  background-color: #fff;
  outline: 0;
  box-shadow: none;
  border-color: #495057 !important;
}

@media screen and (max-width: 770px) {
  .modal-content {
    height: 1330px !important;
  }
}

.modal-header {
  border-bottom: none !important;
}

.btn-primary:hover {
  background-color: #f5044c;
  border-color: #f5044c;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #f5044c;
  border-color: #f5044c;
}

button:focus {
  outline: none !important;
}

.card {
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.movImg {
  padding: 10px;
  width: 100%;
  height: 100px;
  max-width: 100px;
  float: left;
}

.movTit {
  font-size: 14px;
  font-weight: bold;
  color: black;
  font-family: Montserrat;
}

.movDat {
  padding-left: 40px;
  font-size: 12px !important;
  color: black;
  font-family: Montserrat;
}

.movAction {
  float: right;
  margin-right: 20px;
}

.mAction {
  margin-left: 50px;
}

.movBtn {
  background: none;
  border: none;
}

.modal-body {
  border: none;
}

.deleteDialog {
  padding-top: 15% !important;
}

.textModal {
  font-size: 24px;
  line-height: 52px;
  font-family: Montserrat;
  text-align: center;
  color: #010103;
}

.deleteContent {
  height: 300px !important;
}

.cancelModal {
  background: #ffffff;
  box-shadow: 0px 4px 100px rgba(163, 163, 163, 0.1);
  border-radius: 8px;
  width: 140px;
  height: 40px;
  font-family: Montserrat;
}

.deleteMovieModal {
  width: 140px;
  height: 40px;
  font-family: Montserrat;
  background: #f5044c;
  border-radius: 8px;
  border: none;
  color: white;
}

.modal-footer {
  padding-right: 100px !important;
  border-top: none !important;
  margin-bottom: 30px;
}

.modal-header {
  border-bottom: none !important;
}
