.recoverRow {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailRow {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recoverCont {
  height: 570px !important;
}

.recoverCredentials {
  width: 300px;
}

.recoverButton {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitRecover {
  background-color: #4b2b5f !important;
  border-radius: 5px;
  font-family: "Montserrat";
  width: 200px;
  height: 50px;
}

.headRecover {
  font-family: "Montserrat";
  font-size: 24px;
  text-align: center;
}
