
img {
  margin-top: 4%;
  margin-bottom: 2%; 
}

.container-register {
  flex: 1;
  width: 560px;
  height: 463px;
  background: #0a0a0a;
  top: 20px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
 
}

.title {
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF;
}
.already-account {
   color: #9C9B9B;
}

.link-reg {
  margin-left: 5px;
}

.Login .btn-primary {
  border-color: transparent;
}

.error-message {
  margin: 10px 0;
  color: red;
}

.registerHeader {
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  margin: 60px;
}
