@import url("https://fonts.googleapis.com/css?family=Montserrat");

.addTitle {
  color: black;
}

.titleRow {
  margin-top: 20px;
}

.floatLeft {
  float: left;
}

.inputRow {
  padding-top: 20px;
}

.modalAddMoovie {
  background: #f5044c;
  border-radius: 8px;
  border: none;
  width: 96%;
  height: 40px;
  color: white;
  font: "Montserrat";
}

.modalCancelAdd {
  background: transparent;
  border-radius: 8px;
  border: none;
  width: 96%;
  height: 40px;
  color: black;
  font: "Montserrat";
}

.addMovieContainer input[type="text"]::placeholder {
  font-family: Montserrat !important;
  color: #9c9b9b !important;
  font-size: 12px !important;
  padding-left: 20px !important;
}
