@import url("https://fonts.googleapis.com/css?family=Montserrat");

.pageTop {
  background: url("../../../assets/img/head_image.png");
}

.headTitle {
  padding-top: 200px;
}

.heroTitle {
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.heroDescription {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
  opacity: 0.6;
}

.heroWatchButton {
  background: #f5044c;
  color: white;
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 40px;
}

.heroAddButton {
  background: #1e1e1e;
  color: white;
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 40px;
}

.heroImage {
  padding-top: 130px;
}
