
* {
    box-sizing: border-box;
}
.contact {
     max-width: 420px;
     margin: 180px 0px 10px 580px;
}

.contact #cont {
     text-align: center;
     font-weight: 500;
     font-family: Campton;
     font-size: 35px;
}
.contact #fname {
     width: 100%;
     padding: 12px;
     font-family: Camptonlight;
     border: 1px solid white;
     background-color: #0A0A0A;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
.contact #lname {
     width: 100%;
     padding: 12px;
     font-family: Camptonlight;
     border: 1px solid white;
     background-color: #0A0A0A;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}

.contact #email {
    width: 100%;
    padding: 12px;
    font-family: Camptonlight;
    border: 1px solid white;
    background-color: #0A0A0A;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact #submit{
     background-color:#F5044C;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-family: Campton;
}
.contact #submit:hover {
     background-color: #0A0A0A;
}

.contact #first{
    font-family: Campton;

}

.contact #last{
    font-family: Campton;

}

.contact #em{
    font-family: Campton;

}

.contact #subject{
    width: 100%;
    padding: 12px;
    font-family: Camptonlight;
    border: 1px solid white;
    background-color: #0A0A0A;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.contact #sub{
    font-family: Campton;
}