
* {
    box-sizing: border-box;
}
 .App {
     max-width: 420px;
     margin: 180px 0px 10px 580px;
}

 #cont {
     text-align: center;
     font-weight: 500;
     font-family: corbel;
     font-size: 35px;
}
 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     font-family: Campton;
     border: 1px solid white;
     background-color: #0A0A0A;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color:#F5044C;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-family: Campton;
}
 input[type=submit]:hover {
     background-color: #0A0A0A;
}
 .container {
     border-radius: 5px;
     background-color: #0A0A0A;
     padding: 20px;
     
}

label{
    font-family: Campton;

}