#moovie{
    margin: 0 auto;
    background-color: black;
    max-width: 1440px;
    height: 1120px;
}

#moovie #containermov{
    display: flex;
    margin:0 auto; 
    margin-top: 235px;
    align-items: flex-start;
    justify-content: center;
}

#source{
    text-align: center;
}

#imgmov{
    width: 368px;
    height: 552px;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.3), rgba(36, 36, 36, 0.3)), url(image.png);
    border-radius: 20px;
}

#p{
    width: 168px;
    height: 25px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 29px;
}
#title{
    display: flex;
}
#right #title img{
    width: 98px;
    height: 28px;
    padding-top: 10px;
    padding-left: 20px;
}
#right #title h1 {
     width: 376px;
    height: 53px;
    display: flex;
    font-family: corbel;
    font-size: 48px;
    line-height: 60px;
    align-items: center; 
    color: #FFFFFF;
    margin: 0;
}

#containermov #right{
    margin-left:100px;
}

#genmov{
    width: 240px;
    height: 25px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
}

#descr{
    width: 464px;
    top: 396px;
    height: 260px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

#addwatchmov{
    height: 48px;
    width: 176px;
    border-radius: 8px;
    font-size: 18px;
    border-style: none;
    color: #FFFFFF;
    margin-right: 21px;
    font-family: corbel;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    background-color: #F5044C;
    padding-bottom: 2px;
    margin-top: 15px;
}

#bott{
    margin-top: 42px;
}

#bott #staff div{
    display: flex;
    max-height: 54px;
}


#st{
    width: 80px;
    height: 25px;
    margin-right: 20px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 18px;
}

#stw{
    width: 80px;
    height: 25px;
    margin-right: 20px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 0px;
    margin-top: 18px;
}

#sts{
    width: 80px;
    height: 25px;
    margin-right: 20px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 35px;
}

#dr{
    width: 176px;
    height: 25px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 18px;
}

#drw{
    width: 368px;
    height: 50px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 18px;
}

#drs{
    margin-top: 35px;
    width: 368px;
    height: 50px;
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

#stafff{
    font-family: corbel;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    color: #F5044C;
    text-decoration-line: underline;
}

#left #play{
    font-family: corbel;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    width: 168px;
    height: 30px;
}

#containerfoto{
    margin: 86px auto;
    max-width: 1440px;
    height: 444px;
    left: 0px;
    top: 1068px;
    background: #13131C;
}

#fotto{
    padding-top: 44px;
    margin: 0 auto;
    max-width: 1134px;
    height: 335px;
}
#containerfoto #fotto h1{
    max-width: 272px;
    height: 64px;
    font-family: corbel;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

#containerfoto #fotto #poze{
    display: flex;
    max-width: 110px;
    height: 99px;
    
}

#poza1{
    padding-right: 16px;
}
#poza2{
    padding-right: 16px;
}
#poza3{
    padding-right: 16px;
}
#poza4{
    padding-right: 16px;
}
#poza5{
    padding-right: 16px;
}
#poza6{
    padding-right: 16px;
}

#playt{
    position: absolute;
    width: 168px;
    height: 30px;
    margin-left: -271px;
    top: 548px;
    font-family: corbel;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

#playbut{
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: -223px;
    top: 447px;
}