@import url("https://fonts.googleapis.com/css?family=Montserrat");

.main-content {
  background-color: black;
}

.content {
  padding-top: 200px;
}

.movImage {
  width: 50%;
  margin-left: 200px;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
  display: inline-block;
}

.imdbImage {
  width: 20%;
}

.description {
  text-align: left;
}

#movieDet {
  font-weight: bold;
}

#movieDes {
  font-weight: bold;
  color: white;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 120px;
  margin-top: 40px;
}

.addToWatch {
  background: #f5044c;
  border-radius: 8px;
  width: 176px;
  height: 48px;
  border: 0;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
}

ul.movDetList li {
  padding-top: 10px;
  font-size: 14px;
  line-height: 25px;
  font-family: "Montserrat";
  color: #ffffff;
  opacity: 0.6;
}

ul.movDetCont li {
  padding-top: 10px;
  font-size: 14px;
  line-height: 25px;
  font-family: "Montserrat";
  color: #ffffff;
}

.movDet {
  margin-top: 30px;
  padding-bottom: 120px;
}
